.detail-style{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.detail{
    margin-top: 150px;
}
.increDecreStyle{
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-top: 5em;
}
.icon{
    margin-top: 20px;
    border: 1px solid gray;
    height: min-content;
    padding:5px;
    border-radius: 15px;
}
.fas{
    cursor: pointer;
    margin-bottom: 8px;
}
.btn-regular{
    color: white;
    background-color: red;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 150px;
    
}