.header{
    height: 700px;
    text-align: center;
    background-image: url('../../../images/bannerbackground.png')  ;
    margin-bottom: 20px;
    width: 100%;
   
}
.header-title{
   font-size: 40px;
   /* margin-top: 1.5em; */
   padding-top: 200px;
}
.input{
    font-size: 35px;
    border-radius: 10px;
    border: none;
   
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}